.app__insertion{
    background-color: var(--color-content);
    height: 60vh;
    max-width: var(--w);
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    
}

.app_select_json{
    float: left;left:0;position: absolute;top: 0px;
}



form input{
    border-radius: 5px;
}
form textarea{
    border-radius: 5px;
}

.line2 div{
    margin-right:10px;
    margin-left: 10px;
}

@media screen and (max-width:900px) {
    form {
        max-width: var(--w);
    
    }
    
    form input{
        max-width: 100px;
    }
    form textarea{
        max-width: 150px;
    }
}

